#info-box {
	display:none;
	background-color: rgba(0,0,0,0.8);
	/*border-radius:4px;*/
	/*border:1px solid white;*/
	z-index:1;
	font-family:helvetica, sans-serif;
	color:white;
	font-weight:lighter;
	padding:10px;
	/*font-style: italic;*/
	font-size:0.7em;
	/* changed in code */
	position:absolute;
	top:0;
	left:0;
}

#countdownWrapper {
	position:absolute;
	top:10;
	left:10;
}

#countdown {
	font-size: 140%;
	color: cyan;
}

#countdown.lessThan10{
	color: red;
}

#gameover {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	padding-top:25%;
	z-index:1000;
	background-color:black;
	color:white;
	font-size:5em;
	font-family:helvetica;
	text-align:center;
	display:none;
}

#youwon {
	display:none;
}